{% extends "store/base.html" %}

{% load static %}

{% block title %}

{% endblock %}

{% block content %}


<header class="bg-dark py-4">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Add Product...</h1>
            <p class="lead fw-normal text-white-50 mb-0">welcome To add product page...!</p>
        </div>
    </div>
  </header>


        <div class="container d-flex justify-content-center mt-5">
            <div class="container d-flex justify-content-center mt-5">
             <center>



                <form method="post" class="product-form">
                    {% csrf_token %}
                    {{ form }}
                    <button type="submit">Update</button>
                    <button type="button"><a href="/delete/{{product.id}}">Delete</a></button>
                </form>
 


             </center>

            </div>
        </div>
        <br/><br/>
        <br/><br/>
        <br/><br/>         

  
{% endblock %}
